.active-btn {
  color: #1867C0;
}

.active-btn .v-icon {
  color: #1867C0;
}

.inactive-btn {
  color: #A9A9A9;
}

.inactive-btn .v-icon {
  color: #A9A9A9;
}

.alert-btn {
  color: #FF0000;
}

.alert-btn .v-icon {
  color: #FF0000;
}

.text-center {
  text-align: center;
}