.skin-purple .sidebar-menu > li.header {
    color: darkturquoise;
    background: #1a2226;
}

.navbar-title {
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.sidebar-menu > li.header > a {
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: darkturquoise;
}

.treeview-menu > li > a {
    padding: 5px 10px 10px 15px !important;
    display: block;
    font-size: 14px;
}

.content-header > h1 {
    font-size: 18px !important;
}

.table-small {
    font-size: 13px;
    width: 100%;
}

table.table-small > tbody > tr > td {
    padding: 3px;
}

th.buttons {
    min-width: 10%;
}


.btn-xs {
    min-width: 30px;
    margin-top: 5px;
    margin-right: 5px;
}

.text-nowrap {
    white-space: nowrap !important;
}

.select2-container--default .select2-selection--single, .select2-selection--multiple {
    border-radius: 0 !important;
    box-shadow: none !important;
    border-color: #d2d6de !important;
    height: 34px !important;
}

span.field-validation-error {
    color: #dd4b39;
    font-weight: normal;
    font-size: 13px;
}

    span.field-validation-error:before {
        font-family: "Font Awesome 5 Free";
        content: "\f06a";
        display: inline-block;
        padding-right: 3px;
        /*vertical-align: middle;*/
        font-weight: 900;
    }

.modal-header {
    color: #fff;
}

.input-view {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #d2d6de;
    padding: 6px 12px 6px 12px;
}

    .input-view::after {
        content: '\00a0 ';
    }

.select2-selection.select2-selection--single {
    padding-top: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #73879c;
    line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    height: 22px;
    margin-right: 10px;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    opacity: 0.4;
}

.select2-erro {
    background-color: #fff;
    border: 1px solid #ff6a00 !important;
    border-radius: 4px;
}

.no-pad-right {
    padding-right: 0px !important;
}

